// Default mixins and settings -----------------
// @import "template/mixins";
// @import "template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,300;1,300;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,300;1,300;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
@import url('https: //fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asul&family=Neuton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed&family=Josefin+Sans&family=PT+Sans&family=Sofia+Sans+Condensed&family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Lato&family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Frank+Ruhl+Libre&family=Lora&family=Playfair+Display&display=swap');
/*-- css:defaults --*/
:root {
    --psublue: #1e407c;
    --psu-blue: #1e407c;
    --black: black;
    --white: white;
    --red: red;
    --blue: blue;
    --green: green;
    --yellow: yellow;
    --orange: orange;
    --purple: purple;
    --gray: gray;
    --grey: gray;
    --dblue: #1058ad;
    --orchid: #db43d5;
    --dorange: #ff5900;
}


.psu-blue{ color: #1e407c}
.psublue{ color: #1e407c}
.black { color: black; }
.red { color: red; }
.blue { color: blue; }
.green { color: green; }
.yellow { color: yellow; }
.orange { color: orange; }
.purple { color: purple; }
.gray { color: gray; }
.grey { color: gray; }
.dblue { color: #1058ad; }
.orchid { color: #db43d5; }
.dorange { color: #ff5900; }
.dodgerblue { color: dodgerblue; }




/*-- scss:defaults --*/

// // // // // // // // 
// colors

$psublue: #1e407c;
$psu-blue: #1e407c;
$black: black;
$white: white;
$red: red;
$blue: blue;
$green: green;
$yellow: yellow;
$orange: orange;
$purple: purple;
$gray: gray;
$grey: gray;
$dblue: #1058ad;
$orchid: #db43d5;
$dorange: #ff5900;

$backgroundColor: #ffffff; // Background of the presentation
$mainColor: #333;
$body-color: #333;
// Heading
$headingColor: $psu-blue;
$headingTextShadow: #DD6164;
// Links and actions
$linkColor: #DD6164;
$linkColorHover: darken($linkColor, 20%);
// Text selection
$selectionBackgroundColor: #cc5eff2a;
$selectionColor: #000000;


// // // // // // // // 
// Primary/body text
// $mainFont: 'Fira Sans Condensed', sans-serif;
// $mainFont: 'Lato', sans-serif;
// $mainFont: 'Eczar',serif;
// $mainFont: 'Source Sans Pro',sans-serif;
// $mainFont: 'Lato',sans-serif;
$mainFont: 'PT Sans',sans-serif;
$mainFontSize: 35px;

// Vertical spacing between blocks of text
$blockMargin: 20px;

// Headings
$headingMargin: 0 0 $blockMargin 0;
// $headingFont: 'PT Sans Narrow', sans-serif;
$headingFont: 'Yanone Kaffeesatz', sans-serif;
$headingLineHeight: 1.2;
$headingLetterSpacing: normal;
// $headingTextTransform: uppercase;
// $headingTextShadow: normal;
// $headingFontWeight: normal;
$headingTextShadow: 0px 0px 5px #424242;
$headingFontWeight: bold;
$heading1TextShadow: $headingTextShadow;

// $heading1Size: 2.5em;
// $heading2Size: 2em;
// $heading3Size: 1.5em;
// $heading4Size: 1.0em;

$heading1Size: 3.5em;
$heading2Size: 3.0em;
$heading3Size: 2.5em;
$heading4Size: 2.0em;

$codeFont: monospace;


// Generates the presentation background, can be overridden
// to return a background image or gradient
@mixin bodyBackground() {
    background: $backgroundColor;
}
