// Default mixins and settings -----------------
// @import "template/mixins";
// @import "template/settings";
// ---------------------------------------------

/*-- scss:defaults --*/

// // // // // // // // 
// colors

$psublue: #1e407c;
$psu-blue: #1e407c;
$black: black;
$white: white;
$red: red;
$blue: blue;
$green: green;
$yellow: yellow;
$orange: orange;
$purple: purple;
$gray: gray;
$grey: gray;
$dblue: #1058ad;
$orchid: #db43d5;
$dorange: #ff5900;

$backgroundColor: #ffffff; // Background of the presentation
$mainColor: #333;
$body-color: #333;
// Heading
$headingColor: $psu-blue;
$headingTextShadow: #DD6164;
// Links and actions
$linkColor: #DD6164;
$linkColorHover: darken($linkColor, 20%);
// Text selection
$selectionBackgroundColor: #cc5eff2a;
$selectionColor: #000000;


// // // // // // // // 
// Primary/body text
$mainFont: 'Fira Code', monospace;
$mainFontSize: 35px;

// Vertical spacing between blocks of text
$blockMargin: 20px;

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingFont: 'Yanone Kaffeesatz', sans-serif;
$headingLineHeight: 1.2;
$headingLetterSpacing: normal;
$headingTextShadow: 0px 0px 5px #424242;
$headingFontWeight: bold;
$heading1TextShadow: $headingTextShadow;

$heading1Size: 3.5em;
$heading2Size: 3.0em;
$heading3Size: 2.5em;
$heading4Size: 2.0em;

$codeFont: 'JetBrains Mono', monospace;

// Map to Quarto/Bootstrap variables
$font-family-sans-serif: $mainFont;
$font-family-monospace: $codeFont;
$font-family-base: $mainFont;
$headings-font-family: $headingFont;



/*-- scss:rules --*/

:root {
    --psublue: #1e407c;
    --psu-blue: #1e407c;
    --black: black;
    --white: white;
    --red: red;
    --blue: blue;
    --green: green;
    --yellow: yellow;
    --orange: orange;
    --purple: purple;
    --gray: gray;
    --grey: gray;
    --dblue: #1058ad;
    --orchid: #db43d5;
    --dorange: #ff5900;
}

.psu-blue{ color: #1e407c}
.psublue{ color: #1e407c}
.black { color: black; }
.red { color: red; }
.blue { color: blue; }
.green { color: green; }
.yellow { color: yellow; }
.orange { color: orange; }
.purple { color: purple; }
.gray { color: gray; }
.grey { color: gray; }
.dblue { color: #1058ad; }
.orchid { color: #db43d5; }
.dorange { color: #ff5900; }
.dodgerblue { color: dodgerblue; }

// Generates the presentation background, can be overridden
// to return a background image or gradient
@mixin bodyBackground() {
    background: $backgroundColor;
}
